<!doctype html>
<!--suppress All-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/commons::headType(~{::title},~{::link})">
	<link rel="stylesheet" th:href="@{/css/login.css}" />
	<title>牛客网-忘记密码</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<div th:replace="commons/commons::header"></div>

		<!-- 内容 -->
		<div class="main">
			<div class="container pl-5 pr-5 pt-3 pb-3 mt-3 mb-3">
				<form class="mt-5" method="post" th:action="@{/forget}">
					<div class="form-group row">
						<label for="your-email" class="col-sm-2 col-form-label text-right">邮箱:</label>
						<div class="col-sm-10">
							<input type="email" th:class="|form-control ${emailMsg==null?'':'is-invalid'}|"
								   name="email" id="your-email" placeholder="请输入您的邮箱!" required>
							<div class="invalid-feedback" th:text="${emailMsg}">
								该邮箱未被注册!
							</div>
						</div>
					</div>
					<div class="form-group row mt-4">
						<label for="verifycode" class="col-sm-2 col-form-label text-right">验证码:</label>
						<div class="col-sm-6">
							<input type="text" th:class="|form-control ${codeMsg==null?'':'is-invalid'}|"
								   name="code" id="verifycode" placeholder="获取验证码后将会发送至你的qq邮箱!">
							<div class="invalid-feedback" th:text="${codeMsg}">
								验证码不正确!
							</div>
						</div>
						<div class="col-sm-4">
							<a href="#" id="getcode" class="btn btn-info form-control">获取验证码</a>
						</div>
					</div>	
					<div class="form-group row mt-4">
						<label for="your-password" class="col-sm-2 col-form-label text-right">新密码:</label>
						<div class="col-sm-10">
							<input type="password" th:class="|form-control ${newPasswordMsg==null?'':'is-invalid'}|"
								   name="newPassword" id="your-password" placeholder="请输入新的密码!" required>
							<div class="invalid-feedback" th:text="newPasswordMsg">
								密码长度不能小于8位!
							</div>							
						</div>
					</div>							
					<div class="form-group row mt-4">
						<div class="col-sm-2"></div>
						<div class="col-sm-10 text-center">
							<button type="submit" class="btn btn-info text-white form-control">重置密码</button>
						</div>
					</div>
				</form>				
			</div>
		</div>

		<!-- 尾部 -->
		<div th:replace="commons/commons::footer"></div>
	</div>

	<!--样式-->
	<div th:replace="commons/commons::bodyType"></div>
	<script>
		$(function () {
			$("#getcode").click(getCode());
		});

		function getCode() {
			var email = $("#your-email").val();
			if (!email) {
				alert("请填写邮箱");
				return false;
			}
			alert("我们已准备向你发送邮件");
			$.get(
				CONTEXT_PATH + "/forgetcode",
				{"email":email},
				function (data) {
					data = $.parseJSON(data);
					if (data.code === 0) {
						alert("邮件发送成功,请注意查收");
					} else {
						alert(data.msg);
					}
				}
			);
		}
	</script>
</body>
</html>
